.home-page .header-frame {
  width: 1320;
  height: auto;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.white-svg {
  filter: brightness(0) invert(1);
}
.container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}
.container.category-wrapper {
  width: 100%;
  max-width: 1320px;

  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.container.category-top span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.container.category-top a {
  margin-left: 30px;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.container.category-top a:hover {
  border-bottom: 2px solid #041e42;
}
/*PAGINATION*/
.container .pagination-box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pagination-box .pagination-main {
  margin: 0 20px;
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagination-main .pagination-dot {
  display: flex;
  flex-direction: row;
}
.pagination-main img {
  cursor: pointer;
}
.pagination-dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.pagination-dot .dot div {
  width: 4px;
  height: 4px;
  background: rgba(17, 33, 55, 1);
  border-radius: 50%;
}
.pagination-dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}
/*Header*/
.container .hover-border {
  margin-top: 3px;
  /* Rectangle 243 */
  width: 32px;
  height: 2px;
  /*스타일*/
  background: rgba(4, 30, 66, 1);
}

.header-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-frame .container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-frame .container-box .header-left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;
  background-color: rgba(0, 83, 246, 1);
  background-image: url(../images/icons/header_bg.svg);
  border-radius: 5px;
}
.header-frame .header-left .header-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header-frame .header-content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
}
.header-frame .header-content span {
  margin-top: 10px;
  width: 428px;

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 58px;
  font-weight: 500;
  line-height: 78px;
  letter-spacing: 0%;
  text-align: left;
}
.header-frame .header-content p {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.header-frame .header-content a {
  margin-top: 20px;
  width: 140px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}
.header-frame .header-content img {
  position: absolute;
  right: 10px;
}
.header-frame .container-box .header-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-frame .header-right .header-box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 5px;
}
.header-frame .header-right .box-left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-frame .box-left span {
  color: rgba(0, 83, 246, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.header-frame .box-left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.header-frame .box-left a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.header-frame .box-left .hover-border {
  margin-top: 3px;
  /* Rectangle 243 */
  width: 32px;
  height: 2px;
  /*스타일*/
  background: rgba(4, 30, 66, 1);
}
.header-frame .header-box .box-right {
  width: 50%;
}
.header-frame .box-right img {
  width: 100%;
  height: 100%;
}
/*SERVICE*/
.home-page .service-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.service-frame .container {
  width: 1320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-frame .container .service-box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.service-frame .service-box img {
  width: 35px;
  height: 35px;
}
.service-frame .service-box .service-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service-frame .service-content span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.service-frame .service-content p {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
/*SHOP CATEGORY*/
.shop-category-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.shop-category-frame .container {
  width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .category-top {
  width: 100%;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.category-top span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.shop-category-frame.category-top a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.shop-category-frame.category-top a:hover {
  border-bottom: 2px solid #041e42;
}
.shop-category-frame.container.category-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}
.category-box .category-img-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-wrapper .category-box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-box .category-img-box {
  margin-top: 20px;
  width: 100%;
  height: 150px;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  background: rgba(255, 255, 255, 1);
}
.category-box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
/*Top Selling Product*/
.selling-product-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling-product-frame .container .category-top {
  width: 1320px;

  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .product-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-wrapper .next-prev-box {
  width: 25px;
}
.next-prev-box img {
  margin: 5px;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.product-wrapper .product-boxes {
  position: relative;
  width: 1320px;
  height: 452px;

  display: flex;
  flex-direction: row;
}
.product-boxes .product-box {
  margin-left: 40px;
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*cursor: pointer;*/
}
.product-box .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.product-box .product-img-box {
  width: 306px;
  height: 280px;
}

.product-img-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);
}
.product-img-box:hover .hover-box {
  display: flex;
}
.product-box .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
}
.product-content-box .product-title {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;

  text-transform: uppercase;
}
.product-content-box .product-desc {
  margin-top: 7px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  overflow: hidden;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.product-content-box .rview-box {
  margin-top: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.review-box img {
  margin-right: 5px;
}
.review-box span {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.product-content-box .price-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price-box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.price-box span {
  color: rgba(98, 105, 116, 1);
  margin-left: 10px;
  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
.home-page .adv-frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 83, 246, 1);
  background-color: #e5edff;
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
/*SPES PRODUCT*/
.home-page .spec-product-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spec-product-frame .container {
  flex-direction: row;
}
.container.spec-product-wrapper {
  position: relative;
  margin-bottom: 35px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: row;
}
.spec-product-wrapper .big-product-box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;
  background: #f3f5f6;
  border-radius: 6px;
}
.spec-product-wrapper {
  display: flex;
  flex-direction: row;
}
.big-product-box .big-product-content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.big-product-content span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.big-product-content p {
  margin: 7px o;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}
.big-product-content {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.big-product-box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
  margin-top: 60px;
}
.spec-product-wrapper .small-product-wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.small-product-wrapper .small-product-box {
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}
.small-product-box:nth-child(odd) {
  margin-right: 30px;
}

.small-product-box .big-product-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.small-product-box {
  position: relative;
}
.small-product-content strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.small-product-content span {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.small-product-box img {
  width: 85.6px;
  height: 107px;
  position: absolute;
  right: 30px;
  bottom: 15px;
}
.home-page .tv-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tv-frame .container {
  flex-direction: column;
}
.container .tv-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tv-wrapper .tv-product-boxes {
  width: 1320px;
  height: 425px;

  display: flex;
  flex-direction: row;
}
.tv-product-boxes .tv-product-box {
  width: 260px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.tv-product-box .product-img {
  width: auto;
  height: 280px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.tv-product-boxes.tv-product-box {
  width: 1320px;
  height: auto;
  background-color: aqua;
  position: relative;
  display: flex;
  flex-direction: column;
}
.home-page .event-frame {
  position: relative;
  margin-top: 90px;
  width: 1930px;
  height: 652px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../images/icons/event_bg.png);
}
/*Event */
.event-frame .container {
  margin-top: 50px;
  height: auto;
  display: flex;

  justify-content: center;
  background-image: url(../images/icons/event_bg.png);
}
.event-date {
  margin-top: 200px;
  margin-left: 100px;
  width: 340px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-date .event-title {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.event-date .timer-wrapper {
 
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}
.timer-wrapper .timer-box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.timer-box strong {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.timer-box span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.event-date a {
  width: 140px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  border: 1px solid #ffff;
  border-radius: 6px;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.event-product-boxes {
  display: flex;
  flex-direction: row;
}
.event-product-boxes .event-wrapper {
  margin-left: 20px;
  width: 960px;
  height: auto;

  display: flex;
  flex-direction: row;
}
.event-wrapper .event-product-box {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.next-prev-box img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* next 1 */
  width: 17.03px;
  height: 19.25px;
}
.event-product-box .event-box {
  margin-right: 20px;
  margin-left: 25px;
  width: 230px;
  height: 350px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffff;
}
.event-box .event-img {
  margin-left: 35px;
}
.event-box .product-content-box {
  margin-left: 15px;
}
